<div class="row">
    <section class="bg-success rounded-3 text-white text-center p-3 my-5">
		<h3 class="display-8 fw-normal text-uppercase fw-bolder m-0">
            Verificación de cuenta
        </h3>
	</section>
    <div class="col-md-4 mx-auto">
        <p class="fs-3 fw-bold text-center"> Su cuenta ha sido verificada exitosamente! </p>
        <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary w-100">
            Ir al login
        </a>
    </div>
</div>
